body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-box{
    background-color: white;
    height: 400px;
    width: 500px;
    max-height: 400px;
    max-width: 500px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
}

.heading{
    height: 60px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid blue;
    box-sizing: border-box;
}

.heading p{
    margin-left: 20px;
    font-weight: 600;
    font-size: 25px;
    color: blue;
}

.question-section{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.question{
    background-color: white;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}
.question p{
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
}

.option{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 210px;
    background-color: white;
    align-items: center;
}
.options{
    margin-top: 8px;
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    background-color: rgb(220, 220, 251);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.options p{
    margin-left: 8px;
}

.options:hover{
    background-color: rgb(178, 178, 239);
}

.next-btn{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    height: 90%;
    width: 100px;
    background-color: rgb(55, 55, 233);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
